@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.page-header {
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    top: 25px;
    right: 10px;
    z-index: 101;
    width: 100%;
  }

.button {
  background-color: #eeeeee;
  box-shadow: 0 5px 0 #212121;
  color: #393b44;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.button:hover {
  background-color: #c9c9c9;
}

.button:active {
  box-shadow: none;
  top: 5px;
}